<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Партнеры
		include inc/head.pug
		include inc/css.pug
	body.inner
		.mobile-menu
		#page-wr
			include inc/header.pug
			#content

				.title-block__cont
					.wrapper
						.title-block
							.title-block__crumbs
								.bread-crumbs
									a.bread-crumbs__link(href="#" title="Главная") Главная
									span.bread-crumbs__this(href="#") Партнеры
							.title-block__title
								h1 Партнеры

				.wrapper
					.faq
					
						.faq__filter
							form(action="")
								.form-wrap
									.forms__input-cont.forms__input-cont--select
										select.no-selectize.forms__input
											option(value="") Челябинск
											option(value="") Екатеринбург
											option(value="") Москва

						.faq__list
							.faq__item
								.faq__item-top
									span Грузчики-разнорабочие на производство
								.faq__item-bot
									.text-page
										p Подразделение "производство" является одним из ключевых отделов Компании. 
										p Цель подразделения: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. В подразделении трудятся 120 человек, которые обеспечивают бесперебойное изготовление Чистой Артезианской Воды! 
							.faq__item
								.faq__item-top
									span Рабочий основного склада (вахта)
								.faq__item-bot
									.text-page
										p Подразделение "производство" является одним из ключевых отделов Компании. 
										p Цель подразделения: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. В подразделении трудятся 120 человек, которые обеспечивают бесперебойное изготовление Чистой Артезианской Воды! 

										ul
											li база пользователей,
											li настройки модулей (и сами модули),
											li шаблоны сайтов,
											li система авторизации
										| и др.
							.faq__item
								.faq__item-top
									span Грузчики-разнорабочие на производство
								.faq__item-bot
									.text-page
										p Подразделение "производство" является одним из ключевых отделов Компании. 
										p Цель подразделения: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. В подразделении трудятся 120 человек, которые обеспечивают бесперебойное изготовление Чистой Артезианской Воды! 
							.faq__item
								.faq__item-top
									span Рабочий основного склада (вахта)
								.faq__item-bot
									.text-page
										p Подразделение "производство" является одним из ключевых отделов Компании. 
										p Цель подразделения: своевременная отгрузка только качественной продукции в нужном ассортименте и объеме, в установленный период, к установленному времени. В подразделении трудятся 120 человек, которые обеспечивают бесперебойное изготовление Чистой Артезианской Воды! 

										ul
											li база пользователей,
											li настройки модулей (и сами модули),
											li шаблоны сайтов,
											li система авторизации
										| и др.

									





			include inc/footer.pug
		include inc/scripts.pug
